
.message{

    float: right;
    margin: 1em 0 0 10em;
    padding: 0 0 1em 0;

    max-width: 35em;
    border: 1px rgba(0, 0, 0, 0.11) solid;
    border-radius: 0.3em;
    min-width: 15em;
}

.messageInf {
    font-size: 0.8em;
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0.5em 0.5em 0.3em 0;
    color: rgba(0, 0, 0, 0.6);

}

.senderName {
    margin: 0 0 0 2em;
    text-shadow: 2em 6em 5em rgba(255, 255, 255, 0.4);
}

.sentTime {
    margin: 0 0 0 1em;
    position: absolute;
    right: 0;
    text-shadow: 2em 6em 5em rgba(255, 255, 255, 0.4);
}

.messageImg {
    display: flex;
    align-items: center;
    align-content: center;
}


.messageText {
    margin: 0 2em 0 0;
    color: #000000;
    text-shadow: 2em 6em 5em rgba(255, 255, 255, 0.4);
}



.avatar {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 0.5em;
    width: 2em;
    height: 2em;
    min-height: 2em;
    min-width: 2em;

    font-size: 1.2em;
    border: 1px rgba(0, 0, 0, 0.2) solid;
    background-color: rgba(0, 0, 0, 0.11);
    border-radius: 50%;
    text-transform: capitalize;
}