.channels {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    border-right: 1px #e2dbdb solid;
    width: 19em;
    overflow: auto;
    color: rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
}