.channel {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 17em;
    height: 5em;
    margin: 0.8em 1em 0 1em ;
    border-bottom: 1px #e2dbdb solid;
}

.channel:hover {
    cursor: pointer;
    background-color: rgba(230, 233, 237, 0.4);
}


.channelName {
    display: flex;
    align-items: center;

}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 0.5em;
    width: 3em;
    height: 3em;

    font-size: 1.2em;
    border: 1px rgba(0, 0, 0, 0.2) solid;
    background-color: rgba(215, 215, 215, 0.51);
    border-radius: 50%;
}