.channel {
    display: flex;
    flex-direction: row;
    width: 16vw;
    height: 8vh;
    margin: 0.8vh 1vw 0 1vw ;
    border-radius: 5px;
}

.channel:hover {
    cursor: pointer;
    background-color: rgba(230, 233, 237, 0.4);
}


.channelName {
    display: flex;
    align-items: center;
    font: 1em "Century Gothic", Futura, sans-serif;
    padding: 0 5px;
}

.img {
    height: 100%;
    display: flex;
    align-items: center;
}

.img img{
    width: 40px;
    border-radius: 50%;
    padding: 0 5px;
}
