.footer {
    display: flex;
    flex-direction: column;
    text-align: center;

    height: 4em;
    width: 70em;
    background-color: #00a4e4;
    box-shadow: 0.3em 0.3em 0.4em 0 rgb(0, 0, 0);
}


