.footer {
    display: flex;
    flex-direction: column;
    text-align: center;

    height: 5vh;
    width: 70vw;
    margin: 0 auto;
    font: 1.2vh "Century Gothic", Futura, sans-serif;
    background-color: #ffffff;
}


