.header {
    height: 5em;
    width: 70em;
    background-color: white;
    border-bottom: 1px #e2dbdb solid;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.5em;;
}


.addChannelButton {
    height: 2em;
}

.addChannelButton:hover {
    cursor: pointer;
}
.searchChannelsButton {
    height: 2em;
}

.searchChannelsButton:hover {
    cursor: pointer;
}

.logOutButton{
    height: 2em;
}

.logOutButton:hover {
    cursor: pointer;
}