
.message {
    margin: 1em 23em 0 0;
    padding: 0 0 0.5em 0;
    float: left;
    width: max-content;
    max-width: 23em;
    min-width: 15em;
    background: rgb(74, 136, 246);
    border-radius: 0.3em;
}

.messageInf {
    font-size: 0.7em;
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0.5em 0.5em 0.3em 0;
}

.senderName {
    margin: 0 0 0 2em;
    color: #000000;
    opacity: 50%;
}

.sentTime {
    position: absolute;
    right: 0;
    margin: 0 1em 0 1em;
    color: #000000;
    opacity: 50%;
}

.messageImg {
    display: flex;
    align-items: center;
    align-content: center;
}


.messageText {
    margin: 0 2em 0 0;

    color: #ffffff;
    text-shadow: 2em 6em 5em rgba(255, 255, 255, 0.4);
}


.avatar {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 0.5em;
    width: 2em;
    min-width: 2em;
    height: 2em;

    font-size: 1.2em;
    border: 1px rgba(0, 0, 0, 0.2) solid;
    background-color: rgba(215, 215, 215, 0.51);
    border-radius: 50%;
    text-transform: capitalize;
}