.dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70vw;
}

.messages {
    width: 50vw;
    height: 60vh;
    padding: 0.5vw;
    margin: 0.5vw;
    background-color: white;
    border-radius: 1em;
}

.messageInputForm {
    display: flex;
    flex-direction: row;
    margin: 1vw;
}

.messageInput {
    height: 4vh;
    width: 40vw;
    border-radius: 4px;
    margin: 0 1vw 0 0;
}

.inputButton {
    text-align: center;
    padding: 1vh 0 0 0;
    height: 4vh;
    width: 4vw;
    border-radius: 4px;
    background-color: #4CA5FF;
}