.dialog {

    width: 51em;
}


.messageInputForm {
    width: 48em;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 0.5em;
    margin: 0 auto;
}

.messageInputForm input {
    height: 0.5em;
    width: 40em;
    border-radius: 4px;
    text-align: left;
    margin: 0 1em 0 0;
    padding: 1em;
    background-color: rgba(245, 238, 238, 0.51);
    border: 1px #cccccc solid;
}

.inputButton {
    height: 3em;
    padding: 1em;
    margin: 0 0 0 1em;
}

.inputButton:hover {
    cursor: pointer;
}